<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Supertracker!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="dark-edition">
    <div class="container-fluid">
      <!-- navbar -->
      <ul class="nav justify-content-end">
        <li class="nav-item"><a href="/" class="nav-link" >Home</a></li>
        <%= if @current_user do %>
          <li class="nav-item"><%= link "Profile", to: user_path(@conn, :show, @current_user), class: "nav-link" %></li>
          <li class="nav-item"><%= link "Sign out", to: session_path(@conn, :delete, @current_user), method: "delete", class: "nav-link" %></li>
        <% else %>
          <li class="nav-item"><%= link "Register", to: user_path(@conn, :new), class: "nav-link"%></li>
          <li class="nav-item"><%= link "Sign in", to: session_path(@conn, :new), class: "nav-link" %></li>
        <% end %>
      </ul>

      <%= if get_flash(@conn, :info) do %>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <%= get_flash(@conn, :info) %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= get_flash(@conn, :error) %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/jquery.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/popper.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/bootstrap-material-design.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/material-dashboard.min.js") %>"></script>
  </body>
</html>
